@model IEnumerable<myLibrary.Models.Lib>
@{
    ViewBag.Title = "Все книги";
}
<a asp-action="Create">Добавить книгу</a>
<table class="table">
    <tr><td>Книга</td><td>Автор</td></tr>

    @foreach (var l in Model)
    {
        <tr>
            <td>@l.Book.NameBook</td>
            <td>@l.Author.NameAuthor</td>
            <td>
                <a asp-action="Details" asp-controller="Home" asp-route-id="@l.AuthorId">Подробнее</a> |
                <a asp-action="Edit" asp-controller="Home" asp-route-id="@l.AuthorId">Изменить</a>
            </td>
        </tr>
    }
</table>