@model IEnumerable<myLibrary.Models.Book>
@{
    ViewBag.Title = "Все книги";
}
<a asp-action="Create">Добавить книгу</a>
<table class="table">
   
    @foreach (Book b in Model)
    {
        <tr><td>@b.NameBook</td><td>@b.YearPublish</td><td>@b.CountPage</td><td>@b.Author.NameAuthor</td></tr>

    }
</table>
